@import "@paprika/tokens/lib/tokens.scss";
@import "../src/helpers.scss";

.story--stylers {
  .truncated-box {
    @include truncate-text;
  }

  .untruncated-box {
    @include no-truncate-text;
  }

  .invisible-box {
    @include is-visually-hidden;
  }

  input {
    @include placeholders;
  }

  .font-scale > span {
    display: inline-flex;
    flex-direction: column;
    line-height: 1;

    > span {
      padding: 0 $space;
      text-align: center;

      &:last-child {
        opacity: 0.7;
        font-size: font-scale(-5);
      }
    }
  }

  @for $i from -5 through 7 {
    .font-scale-#{$i} {
      font-size: font-scale($i);
    }
  }

  [class*="line-height"] code {
    opacity: 0.7;
  }

  @for $i from -3 through 3 {
    .line-height-#{$i} {
      line-height: line-height-scale($i);
    }
  }

  .z {
    $offset: 30px;

    position: relative;
    height: $space * 15;

    > span {
      background: rgba($color--black-lighten-40, 0.8);
      border: 1px solid $color--black-lighten-20;
      color: $color--white;
      height: $space * 6;
      line-height: $space * 6;
      margin: $space 0 0 $space;
      position: absolute;
      text-align: center;
      width: $space * 6;

      @for $i from 0 through 7 {
        &:nth-child(#{$i + 1}) {
          left: $offset * $i;
          top: $offset / 4 * $i;
          z-index: z($i);
        }
      }
    }
  }

  .focus-box {
    background: $color--black-lighten-70;
    height: $space * 4;
    width: $space * 4;
  }

  .focus-box--default {
    &:focus,
    &:hover {
      @include focus-indicator;
    }
  }

  .focus-box--inset {
    &:focus,
    &:hover {
      @include inset-focus-indicator;
    }
  }

  .focus-box--composite {
    border: 1px solid $border--color;
    &:focus,
    &:hover {
      @include composite-focus-indicator;
    }
  }

  .focus-box--composite-inset {
    border: 1px solid $border--color;
    &:focus,
    &:hover {
      @include composite-inset-focus-indicator;
    }
  }

  .focus-box--subtle {
    &:focus,
    &:hover {
      @include subtle-focus-indicator;
    }
  }

  .focus-box--subtle-inset {
    &:focus,
    &:hover {
      @include subtle-inset-focus-indicator;
    }
  }
}
