{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["styled-components", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
    },
    "production": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["styled-components", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["styled-components", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
    }
  }
}
