#Git
.git
.github

#Node modules
node_modules
/**/node_modules

#CI
semaphore.yml

# Tokens autogenerate files
packages/Tokens/tokens.json
packages/Tokens/tokens.scss
packages/Tokens/tokens.yaml

# Documentation
/**/.docz
