@import "~acl-ui/helpers/css/index";

.spicy-story {
  top: $space * 7;
  position: relative;

  .spicy-story-title {
    font-size: font-scale(11);
    font-weight: 400;
    width: 100%;
    text-align: center;
    line-height: 1;
  }

  .spicy-story-subtitle {
    font-size: font-scale(2);
    text-align: center;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
  }

  .spicy-story-body {
    border: 1px solid $border--color;
    border-radius: $border--radius;
    box-shadow: $shadow;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background-color: #fbfbfb;
  }

  .spicy-story-footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: $space * 6;
    width: 100%;
    border-left: 1px solid $border--color;
    border-right: 1px solid $border--color;
    text-align: center;
    font-size: font-scale(-3);
    font-style: italic;

    &::before {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      background: $white;
      height: 22px;
      position: absolute;
      width: $space * 8;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      border-bottom: 1px solid $border--color;
      height: 1px;
      left: 0;
      top: 50%;
      margin-top: -1px;
      z-index: -2;
    }
  }

  $max-width-description: 768px;
  .spicy-story-description {
    position: relative;
    top: $space * 3;
    max-width: $max-width-description;
    position: relative;
    left: 50%;
    margin-left: -#{$max-width-description/2};
  }
}
