.collapsible-card {
  background-color: paleturquoise;

  &.collapsible-card--collapsed {
    .collapsible-card-header__expand-toggle {
      transform: rotate(180deg);
    }

    .collapsible-card-body {
      display: none;
    }
  }
}

.collapsible-card-header {
  display: flex;

  .collapsible-card-header__content {
    flex: 1 1 auto;
    // background-color: greenyellow;

    // TODO: remove this block
    // > div {
    //   border: 1px dashed blue;
    //   margin: 5px;
    // }
  }

  &.collapsible-card-header--half .collapsible-card-header__content {
    display: flex;
    justify-content: space-between;

    > div {
      &:nth-of-type(2) {
        display: inline-flex;
      }
    }

    @media (max-width: 800px) {
      background-color: red;
      display: block;
    }
  }

  &.collapsible-card-header--third .collapsible-card-header__content {
    display: flex;

    > div {
      display: flex;

      &:nth-of-type(1) {
        justify-content: center;
        flex: 1 1 30%;
      }

      &:nth-of-type(2) {
        flex: 1 1 40%;
        justify-content: center;
      }

      &:nth-of-type(3) {
        flex: 1 1 30%;
        justify-content: flex-end;
      }
    }
  }

  .collapsible-card-header__expand-toggle {
    background-color: darkorange;
    flex: 0 0 32px;
  }
}

.collapsible-card-body {
}

.test-header {
  display: flex;

  [data-pka-anchor="switch"] {
    flex: 0 0 36px;
  }

  .test-header__content {
    //border: 1px solid green;
  }

  [data-pka-anchor="counter"] {
    //border: 1px solid blue;
  }
}
