@import "~acl-ui/helpers/css/index";

.spicymark-codebox {
  width: 100%;
  border: 1px solid $border--color;
  background: $background-color--level0;
  border-radius: $border--radius;

  .spicymark-codebox__title {
    border-top-left-radius: $border--radius;
    border-top-right-radius: $border--radius;
    display: flex;
    align-items: center;
    border: $border--radius;
    padding: $space / 2 $space;
    color: $color--black-lighten-10;
    font-size: font-scale(-1);

    & .spicymark-codebox__title-name {
      width: 50%;
    }

    & .spicymark-codebox__title-actions {
      text-align: right;
      flex-basis: 50%;

      a {
        text-transform: uppercase;
        font-size: font-scale(-2);
        color: $color--black-lighten-20;
      }
    }
  }

  .spicymark-codebox__component {
    padding: $space;
  }

  .spicymark-codebox__sourcecode {
    padding: $space;
    padding-top: 0;
  }
}
