@import "~acl-ui/helpers/css/index";

$color--back: #3d3726;

#root {
  height: 100%;
}

.welcome-page {
  background: url(./tahini.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;

  .welcome-body {
    align-items: center;
    background: linear-gradient(to bottom, rgba($color--back, 0.9), rgba($color--back, 0));
    color: white;
    display: flex;
    flex-direction: column;
    height: 36%;
    justify-content: center;
    min-height: 100px;
    padding: $space*8 $space*4 $space*20 $space*4;
    text-align: center;
    width: 100%;
  }

  .welcome-credit {
    &,
    a {
      color: $color--back;
      text-decoration: none;
    }
    font-size: font-scale(-3);
    opacity: 0.7;
    position: absolute;
    bottom: $space;
    left: $space*2;
  }

  h1,
  h2,
  h3 {
    color: $color--white;
    font-weight: 300;
    line-height: 1.1;
    text-shadow: 2px 2px 2px $color--back;
  }
  h1 {
    font-size: font-scale(8);
  }
  h2 {
    font-size: font-scale(4);
    opacity: 0.7;
  }
  h3 {
    font-style: italic;
    font-weight: 300;
    margin-top: $space*2;
  }
}
