@import "@paprika/stylers/lib/helpers.scss";
@import "@paprika/tokens/lib/tokens.scss";

/*
Changes to these styles need to be compiled and copied into ckEditor in the consuming app.
*/

a[data-dynamic-hyperlink] {
  background-color: $color--white;
  border-radius: $button--border-radius;
  box-shadow: 0 0 2px $color--black;
  color: $color--blue-darken-10;
  cursor: default;
  font-size: font-scale(-1);
  padding: 2px 2px 2px $space-sm;
  text-decoration: none;

  .dynamic-hyperlink--label {
    cursor: pointer;
    margin-right: $space-sm;

    &:hover {
      text-decoration: underline;
    }
  }

  .dynamic-hyperlink--valid {
    background-color: $color--blue-lighten-40;
    border-radius: $button--border-radius;
    color: $color--blue-darken-10;
    font-size: font-scale(-2);
    font-weight: bold;
    padding: 1px $space 0;
    text-transform: uppercase;
  }

  .dynamic-hyperlink--invalid {
    color: $color--black-lighten-20;
    padding-right: $space-sm;
  }
}
