@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,600,600i&display=swap");
@import url("//fonts.googleapis.com/css?family=Roboto+Mono:400");
@import "@paprika/tokens/lib/tokens.scss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color--black;
}
