@import "@paprika/tokens/lib/tokens.scss";

.uploader-file {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color--black-lighten-40;
  padding: $space * 2;
}

.uploader-file__left {
  flex: 1;
}

.uploader-file__right {
  flex: 0 0 32px;
  padding: $space-sm 0 $space-sm $space-sm;

  /* for its content */
  display: flex;
  justify-content: center;
}

.uploader-file__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: $space-sm;
}

.uploader-file__name {
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: bold;
}

.uploader-file__progress-text {
  color: $color--black-lighten-20;
  flex: 0 1 40%;
  font-size: 12px;
  text-align: right;
}

.uploader-file__progress-bar {
  background: silver;
  border-radius: 3px;
  height: 4px;
}

.uploader-file__progress-bar--inner {
  background: $color--purple;
}

.uploader-file--complete {
  .uploader-file__right {
    padding-bottom: $space;
    padding-top: $space;
  }

  .uploader-file__progress {
    color: $color--green;
  }
  .uploader-file__progress-bar--inner {
    background: $color--green;
  }
}

.uploader-file--error {
  .uploader-file__progress,
  .uploader-file__progress-text {
    color: $color--orange;
  }
  .uploader-file__progress-bar--inner {
    background: $color--orange;
  }
}
