@import "@paprika/stylers/lib/helpers.scss";
@import "@paprika/tokens/lib/tokens.scss";

a[data-dynamic-hyperlink] {
  background-color: $color--white;
  border-radius: $button--border-radius;
  box-shadow: 0 0 2px $color--black;
  color: $color--blue-darken-10;
  display: inline-block;
  font-size: font-scale(-1);
  padding: 2px $space-sm;
  text-decoration: underline;

  span {
    margin-left: $space-sm;
    border-radius: $button--border-radius;
    display: inline-block;
    text-decoration: none;

    &.valid {
      background-color: $color--blue-lighten-40;
      color: $color--blue-darken-10;
      padding: 1px $space;
    }

    &.invalid {
      color: $color--black-lighten-20;
    }
  }
}
