@import "@paprika/stylers/lib/helpers.scss";
@import "@paprika/tokens/lib/tokens.scss";

a[data-dynamic-hyperlink] {
  background-color: $color--white;
  border-radius: $button--border-radius;
  box-shadow: 0 0 2px $color--black;
  color: $color--blue-darken-10;
  font-size: font-scale(-1);
  padding: 2px $space-sm;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  span {
    border-radius: $button--border-radius;
    font-size: font-scale(-2);
    font-weight: bold;
    margin-left: $space-sm;

    &.dynamic-hyperlink--valid {
      background-color: $color--blue-lighten-40;
      color: $color--blue-darken-10;
      padding: 1px $space;
      text-transform: capitalize;
    }

    &.dynamic-hyperlink--invalid {
      color: $color--black-lighten-20;
    }
  }
}
