// TODO: ignore those that are inside a ckEditor?

a[data-dynamic-hyperlink] {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
  color: #0063c5;
  display: inline-block;
  font-size: 14px;
  padding: 2px 4px;
  text-decoration: underline;

  span {
    margin-left: 4px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;

    &.valid {
      background-color: #cce5fd;
      color: #0063c5;
      padding: 1px 8px;
    }

    &.invalid {
      color: #717171;
    }
  }
}
